
            body{
                background:white;
                color:black;
                font-family:  Helvetica,Arial,sans-serif;
            margin:0;
            padding:0;
            }

            header {background:#dce6d9;
                background-image: url("images/logo-01.png");
                background-size: 400px;
                background-repeat: no-repeat;
                background-position: left;
                height:100px;
                padding:30px;}

                .nav{
                    text-align: right;
                    margin-top: 40px;    
                }
                    

                .nav li {display:inline-block;
                    text-align: right; 
                    margin:0 60px 0 0;}

                .nav li a {
                    text-decoration: none;
                color:black;
                font-size:22px;
            }

            .painting {background:white;
            padding:20px;
            display:flex;
            flex-direction:row;
            }

            .painting figure {
                margin:auto;
                width: 350px;
                text-align: center;
            }

            .painting figure img{
                width: 350px;
                border-radius: 0px;
                list-style-type: none;
            }

           

         
footer {background:white;
    color:grey;
    font-size:18px;
    text-align: center;
padding: 10px 20px;}
        